name: shoy-testing-stuff

env:
  THIS_VAR: HI

on:
  push:
    branches:
      - main
      - feuture
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        type: choice
        required: true
        default: shoy
        options:
          - shoy
          - boy
          - toy

jobs:
  first-job:
    runs-on: ubuntu-20.04
    outputs:
      foo: ${{ steps.first_id.outputs.foo }}
    steps:
      - name: Set output foo
        id: first_id
        run: |
          echo "hello"
          foo=bar
          echo "foo=$foo" >> "$GITHUB_OUTPUT"

  second-job:
    runs-on: ubuntu-20.04
    needs: first-job
    strategy:
      matrix:
        num: [1, 2]
    steps:
      - name: Print needs output and matrix value
        run: |
          echo "foo from first job: ${{ needs.first-job.outputs.foo }}"
          echo "matrix.num: ${{ matrix.num }}"
